@model QuestionDetailsModel
@{
    ViewData["Title"] = "Details";
}

<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0"> Top Navigation <small>Example 3.0</small></h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Layout</a></li>
                    <li class="breadcrumb-item active">Top Navigation</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>


<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-10">
                        <a href="#">@Model.Title</a>
                    </div>
                    <div class="col-2">
                        <a type="button" class="btn btn-primary d-grid gap-2 d-flex float-right"
                           asp-area="" asp-controller="Question" asp-action="Create">Ask Question</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-1">
                    </div>
                    <div class="col-11">
                        <p>
                            @Html.Raw(@Model.Body)
                        </p>

                        @if (@Model.Owner || @Model.Moderator)
                        {
                            <form asp-controller="Question" asp-action="Delete" asp-route-id="@Model.Id" data-ajax="true">
                                <button type="submit" class="btn btn-sm btn-danger d-none d-md-inline-block">
                                    Delete
                                </button>
                            </form>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@if (@Model.Comments != null)
{
    foreach (var comment in @Model.Comments)
    {
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-1">
                                <div>
                                    <div class="row justify-content-center">
                                        <form asp-controller="Comment" asp-action="UpVote" asp-route-id="@comment.Id" data-ajax="true">
                                            <button type="submit">
                                                <i class="fas fa-caret-up fa-2x"></i>
                                            </button>
                                        </form>
                                    </div>
                                    <div class="row justify-content-center">
                                        <h5>@comment.TotalVote</h5>
                                    </div>
                                    <div class="row justify-content-center">
                                        <form asp-controller="Comment" asp-action="DownVote" asp-route-id="@comment.Id" data-ajax="true">
                                            <button type="submit">
                                                <i class="fas fa-caret-down fa-2x"></i>
                                            </button>
                                        </form>
                                    </div>

                                    @if (!@comment.IsAnswer && @Model.Owner)
                                    {
                                        <div class="row justify-content-center">
                                            <form asp-controller="Comment" asp-action="Accept" asp-route-id="@comment.Id" data-ajax="true">
                                                <button type="submit">
                                                    <i class="fas fa-check fa-2x"></i>
                                                </button>
                                            </form>
                                        </div>
                                    }

                                    @if (@comment.IsAnswer)
                                    {
                                        <div class="row justify-content-center">
                                            <i class="fas fa-check fa-2x" style="color: green"></i>
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="col-11">
                                <p>
                                    @Html.Raw(@comment.Body)
                                </p>
                                @if (@Model.Moderator)
                                {
                                    <form asp-controller="Comment" asp-action="Delete" asp-route-id="@comment.Id" data-ajax="true">
                                        <button type="submit" class="btn btn-sm btn-danger d-none d-md-inline-block">
                                            Delete
                                        </button>
                                    </form>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}

<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <form class="form" novalidate enctype="multipart/form-data" method="Post" asp-area="" asp-controller="Question"
                      asp-action="AddComment" asp-antiforgery="true">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input asp-for="Id" type="hidden" />
                    <div class="card-body">
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Comment</label>
                            <div class="col-sm-10">
                                <textarea type="text" name="comment" class="form-control" asp-for="Comment"
                                          id="comment"></textarea>
                            </div>
                            <div>
                                <span class="text-danger" asp-validation-for="Comment"></span>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-info">Submit Answer</button>
                        <button type="reset" class="btn btn-default float-right">Reset</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts {
<partial name="_ValidationScriptsPartial" />

<script>
    $(document).ready(function() {
        $('#comment').summernote({
            placeholder: 'Include all the information someone would need to answer your question',
            height: 200,
            toolbar: [
                ['style', ['style']],
                ['font', ['bold', 'underline', 'clear']],
                ['color', ['color']],
                ['para', ['ul', 'ol', 'paragraph']],
                ['table', ['table']],
                ['view', ['fullscreen', 'codeview', 'help']]
            ]
        });
    });

</script>
}